<h1>You have {{ todonts.length }} thing(s) NOT to do!</h1>

<a href="todonts/new">Create New ToDont</a>

<ul>{{#each todonts}}
	<li>Description: <a href="/todonts/{{@index}}">{{description}}</a></li>
	<li>Urgent: {{urgent}}</li>
	<form method="POST" action="/todonts/{{@index}}?_method=DELETE">
		<button>DELETE</button>
	</form>
	<br />

	{{/each}}
</ul>